<%if current_user.notes.count>0 %>
<h1>Ensemble de vos notes</h1>

<table>
<% current_user.notes.each do |note| %>
    <tr>
    <th>Titre: <%= note.Titre %> Date: <%= note.Date %> Categorie: <%= (current_user.categories.find(note.Categorie)).nom %> Duree: <%= note.Duree %> Difficulte: <%= note.Difficulte %></th>
  </tr>
  <tr>
    <td><%= note.Texte %></td>
    <td><%= link_to 'Modifier', edit_note_path(note) %></td>
    <td><%= link_to 'Supprimer', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ajouter une note', new_note_path %>
<%else%>
<h3>Vous n'avez encore aucune note, dépéchez vous d'en ajouter une !</h3>
<%= link_to 'Ajouter une note', new_note_path %>
<% end %>