<h1>Ensemble de vos notes</h1>

<table>
<% current_user.notes.each do |note| %>
    <tr>
    <th>Titre: <%= note.Titre %> Date: <%= note.Date %> Categorie: <%= note.Categorie %> Duree: <%= note.Duree %> Difficulte: <%= note.Difficulte %></th>
  </tr>
  <tr>
    <td><%= note.Texte %></td>
    <td><%= link_to 'Modifier', edit_note_path(note) %></td>
    <td><%= link_to 'Supprimer', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_note_path %>
