<%if current_user.categories.count>0 %>
<h1>Voici vos categories de tâche</h1>

<table>
  <tr>
    <th>Nom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.categories.each do |category| %>
  <tr>
    <td><%= category.nom %></td>
    <td><%= link_to 'Modifier', edit_category_path(category) %></td>
    <td><%= link_to 'Suprimer', category, method: :delete, data: { confirm: 'Etes vous sur?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ajouter une categorie', new_category_path %>
<%else%>
<h3>Vous n'avez encore aucune categorie, dépéchez vous d'en ajouter une !</h3>
<%= link_to 'Ajouter une categorie', new_category_path %>
<% end %>