<header>
  <nav class="round">
	  <%= image_tag "logoiut.jpg" %> 
  </nav>
  <nav class="round">
	  <ul class="semiopaquemenu">
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Saisir Note", new_note_path %></li>
      <li><a href="">Voir Carnet</a></li>
	  <li><a href="">Voir Graphe</a></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Profil", edit_user_path(current_user) %></li>
      <li><%= link_to "Logout", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Login", signin_path %></li>
      <% end %>
    </ul>
    <div 
			class="bottombar">
	</div>
	</nav>
</header>
